@media(min-width: 320px) and (max-width: 450px){
    .box{
        width: 55%;
    }
    .images{
        justify-content: center;
    }
    .container2{
        flex-direction: column;
    }
    .text-block2{
        margin-top: 30px;
    }
    .container3{
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .container4{
        flex-direction: column;
    }
    .person-block{
        flex-direction: column;
        margin: 35px 0px;
        
    }
    .team{
        /* margin: 0 auto; */
        margin-bottom: 2.1875rem ;
    }
    .footer{
flex-direction: column;
    }
}