.container{
    max-width: 1159px;
    width: 100%;
    margin: 0 auto;
    /* background: lightgreen; */
}
.text-block{
    max-width: 411px;
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    margin: 0 auto;
}
.images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 55px;
}
.container2{
    max-width: 1180px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.knopochka{
    width: 170px;
    height: 48px;
    background: black;
    color: white;
    border: 0;
    border-radius: 8px;
}
.text-block2{
    max-width: 470px;
    width: 80%;
   
}
.image{
    max-width: 600px;
    width: 100%;
}
.image img{
    width: 100%;
}
.container3{
    max-width: 1180px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 73px;
    background: green;
}

.image2 img{
    width: 100%;
}
.text-block3{
    max-width: 470px;
    /* height: 255px; */
    text-align: center;
}